<h4>Administracija</h4>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Pitanja</h3>
                <p>Administracija pitanja</p>
                <p>
                    <a routerLink="/admin/pitanje" class="btn btn-primary" role="button">Administriraj</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Korisnici</h3>
                <p>Administracija korisnika</p>
                <p>
                    <a routerLink="/admin/korisnik" class="btn btn-primary" role="button">Administriraj</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Kategorije</h3>
                <p>Administracija kategorija</p>
                <p>
                    <a routerLink="/admin/kategorija" class="btn btn-primary" role="button">Administriraj</a>
                </p>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>